{% extends 'base_generic.html' %}
{% block content %}
    <h1>Whale Cum</h1>
    <h4>The one-stop shop for all of your most degenerate shitcoin punting dreams</h4>
    <div>
        <p>
            Welcome to Degen Trading, where the complex world of crypto trading is simplified for everyone.
            We're not about flashy promises; we're about real, effective strategies that work. Join us to explore
            the potential of cryptocurrencies and perpetual futures through a clear, data-driven lens.
        </p>
    </div>
    <div>
        <h5>Cross-Sectional Momentum</h5>
        <p>
            Imagine surfing the waves of market trends. Cross-sectional momentum is about catching the 'wave' of assets
            that are performing better compared to others at the same time. It's about being with the winners and
            steering clear of the losers.
        </p>
    </div>
    <div>
        <h5>Trend Following</h5>
        <p>
            This strategy is like having a compass in the ever-changing world of crypto. It involves identifying and
            following the market's direction, whether it's going up or down, helping you ride the trend rather than
            fighting against it.
        </p>
    </div>
    <div>
        <h5>Carry Strategies</h5>
        <p>
            Think of this as the art of smart investment. Carry strategies involve capitalizing on differences in prices
            or
            returns between various futures contracts. It's about being savvy and making gains from these differences.
        </p>
    </div>
    <div>
    <h2>This is all for you, for free, forever</h2>
    <p>Every signal, trading strategy, research results you can access for free by signing up with your email here</p>
    <a href="{% url 'signup' %}">Get started now!</a>
    </div>

{% endblock %}